@tailwind base;
@tailwind components;
@tailwind utilities;


.background-gradient {
    background: radial-gradient(
      circle at top center,
      hsla(222, 77%, 57%, 0.5) 0%,
      hsla(222, 0%, 0%, 0) 50%,
      hsla(222, 0%, 0%, 0) 100%
    );
  }

.font-border {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.font-border-mar {
  -webkit-text-stroke: 1px slategray;
  color: transparent;
}

.cirlce {
  font-size: 40px;
  text-transform: uppercase;
  animation: rounded 14s linear infinite;
}

/* @keyframes rounded {
  100% {
    transform: rotate(360deg);
  }
} */